 td, th, td {
    border: 1px solid black;
    border-collapse: collapse;
 }

 td {
   display: inline-block;
   background-color: gray;
   border: solid 2px lightgrey;
   width: 25px;
   height: 25px;
   float: left;
   color: black;
 }

 .colorBox {
   display: inline-block;
   background-color: green;
   border: solid 2px lightgrey;
   width: 25px;
   height: 25px;
   float: left;
   color: black;
   /*box-shadow: 10px 0px 5px #888;*/
 }

 .Box {
   display: inline-block;
   background-color: gray;
   border: solid 2px lightgrey;
   width: 25px;
   height: 25px;
   float: left;
   color: black;
   /*box-shadow: 10px 0px 5px #888;*/
 }


 table {
   border-collapse: collapse;
    position: relative;
    margin-top: -208px;
    margin-left: 285px;
    border: solid 3px black;
}

 #screenBorder {
   margin: 30px 300px 100px;
   border: solid 3px black;
   height: 700px;
   width: 630px;
   border-radius: 1%;
   box-shadow: 10px 0px 5px #888;
 }

 #title {
   position: absolute;;
   margin-top: 20px;
   margin-left: 365px;
   font-family: "Impact";
   font-size: 45px;
   letter-spacing: 4px;
 }

 #nextBlockHeading {
   position: absolute;;
   margin-top: 50px;
   margin-left: 50px;
   font-family: "Impact";
   font-size: 25px;
   letter-spacing: 2px;
 }

 #nextBlockBorder {
   position: relative;
   background-color: #FAF0E6;
   margin-top: 100px;
   margin-left: 15px;
   border: solid 3px black;
   height: 200px;
   width: 200px;
   box-shadow: 10px 0px 5px #888;
 }

 #nextBlock {
   position: absolute;
   margin-left: 55px;
   margin-top: 75px;
 }

 #button {
   position: relative;
   margin-top: 20px;
   margin-left: 200px;
   background-color: gray;
   color: black;
   border: solid 1px black;
   text-align: center;
   box-shadow: 10px 0px 5px #888;
   font-family: "Impact";
   font-size: 25px;
   letter-spacing: 3px;
 }
